<po-page-default
    [p-title]="literals?.kendoxModal">

    <div class="po-row">
        <po-switch class="po-md-3" name="editable" 
            p-label-off="d-editable"
            p-label-on="d-editable"
            [(ngModel)]="lEditable">
        </po-switch>

        <po-switch class="po-md-4" name="showMaximize" 
            p-label-off="d-show-maximize"
            p-label-on="d-show-maximize"
            [(ngModel)]="lShowMaximize">
        </po-switch>

        <po-switch class="po-md-4" name="showExportButtons" 
            p-label-off="d-show-export-buttons"
            p-label-on="d-show-export-buttons"
            [(ngModel)]="lShowExportButtons">
        </po-switch>        
   
        <po-button
            p-label="Modal"
            (p-click)="onOpenModal()">
        </po-button>
    </div>

    <dts-kendo-grid class="po-md-12"
        [d-sortable]="true"
        [d-selectable]="false"
        [d-groupable]="true"
        [d-filterable]="true"
        [d-editable]="lEditable"
        [d-show-maximize]="lShowMaximize ? 'normal' : null"
        [d-show-export-buttons]="lShowExportButtons"
        [d-columns]="columns"
        [d-data]="items">
    </dts-kendo-grid>

</po-page-default>

<po-modal #modalKendo
    p-size="xl"
    p-hide-close
    [p-title]="literals?.kendoxModal"
    [p-primary-action]="confirmModal">

    <div class="po-md-9">
        <po-number class="po-md-6"
            id="idValue"
            p-label="Valor (po-number)"
            [(ngModel)]="numValor">
        </po-number>

        <po-input class="po-md-6"
            id="idNameUser"
            p-label="Nome (po-input)"
            [(ngModel)]="nameUser">
        </po-input>
    </div>

    <div class="po-md-3">
        <po-button class="po-md-12"
            p-label="Foco Number"
            (p-click)="onClickFocoNumber()">
        </po-button>

        <po-button class="po-md-12"
            p-label="Foco Input"
            (p-click)="onClickFocoInput()">
        </po-button>
    </div>

    <dts-kendo-grid class="po-md-12"
        [d-sortable]="true"
        [d-selectable]="true"
        [d-groupable]="false"
        [d-filterable]="true"
        [d-editable]="lEditable"
        [d-show-maximize]="lShowMaximize ? 'full' : null"
        [d-show-export-buttons]="lShowExportButtons"
        [d-actions]="tableActions"
        [d-edit-actions]="editActions"
        [d-columns]="columns"
        [d-data]="items"
        d-show-column-manager="true"
        [d-show-more-disabled]="!hasNext"
        (d-show-more)="search(true)">
    </dts-kendo-grid>

</po-modal>
