<po-page-list name="customerMaintList"
    [p-title]="literals?.customerMaintList"
    [p-disclaimer-group]="disclaimerGroup"
    [p-filter]="filterSettings"
    [p-breadcrumb]="breadcrumb"
    [p-actions]="pageActions">

    <po-table
        p-selectable="false"
        p-striped="true"
        [p-columns]="columns"
        [p-items]="items"
        [p-actions]="tableActions"
        [p-show-more-disabled]="!hasNext"
        (p-show-more)="search(true)">

        <ng-template p-table-column-template p-property="observation" let-value>
            <po-popover #popovObs
                [p-title]="literals?.observation"
                p-trigger="click"
                [p-target]="iconObs">

                <po-textarea
                    p-readonly
                    p-rows="4"
                    ngModel="{{value}}">
                </po-textarea>
                
                <span on-click="onClickClosePopovObs()" class="po-table-link po-pull-right">
                    {{ literals?.close }}
                </span>
            </po-popover>

            <span>
                <i #iconObs id="iconObs" class="po-table-link po-icon po-icon-document-filled"></i>
            </span>
        </ng-template>        
    </po-table>

</po-page-list>

<po-modal #modalAdvanceSearch
    p-size="sm"
    [p-title]="literals?.modalAdvanceSearch"
    [p-primary-action]="confirmAdvSearchAction"
    [p-secondary-action]="cancelAdvSearchAction">

    <div class="po-row">
        <po-number class="po-md-6" name="codeInitial"
            [(ngModel)]="filterCode.valInitial"
            [p-label]="literals?.codeInitial"
            [p-placeholder]="literals?.codeInitial"
            p-minlength="1"
            p-maxlength="9"
            p-min="0">
        </po-number>

        <po-number class="po-md-6" name="codeFinal"
            [(ngModel)]="filterCode.valFinal"
            [p-label]="literals?.codeFinal"
            [p-placeholder]="literals?.codeFinal"
            p-minlength="1"
            p-maxlength="9"
            p-min="0"
            p-required>
        </po-number>

        <po-multiselect class="po-md-12" name="filterCountryList"
            [(ngModel)]="filterCountryList"
            [p-label]="literals?.country"
            [p-placeholder]="literals?.all"
            [p-options]="filterCountryOptions"
            p-required="true">
        </po-multiselect>

        <po-multiselect class="po-md-12" name="filterStatusList"
            [(ngModel)]="filterStatusList"
            [p-label]="literals?.status"
            [p-placeholder]="literals?.all"
            [p-options]="filterStatusOptions"
            p-required="true">
        </po-multiselect>

        <po-switch class="po-md-12" name="filterActive"
            [(ngModel)]="filterActive"
            [p-label]="literals?.active">
        </po-switch>
    </div>

</po-modal>

<po-modal #modalTotalByStatus
    p-size="sm"
    [p-title]="literals?.totalByStatus">

    <po-table
        p-selectable="false"
        p-striped="true"
        p-hide-columns-manager="true"
        [p-columns]="columnsTotalByStatus"
        [p-items]="itemsTotalByStatus">
    </po-table>

</po-modal>

<po-modal #modalScheduleRPW
    p-size="sm"
    [p-title]="literals?.scheduleRPW"
    [p-primary-action]="confirmScheduleRPW"
    [p-secondary-action]="cancelScheduleRPW">

    <po-button
            p-label="Habilita/Desabilita"
            (p-click)="onEnableDisableParam()">
    </po-button>

    <!--
     programName="pdapi701"
     externalName="pdp/pdapi701"
     programVersion="2.00.22.11"
     -->   

     <app-totvs-schedule-execution #schParam
        programName="api_executa_carga_dados_carol"
        externalName="api_executa_carga_dados_carol"        
        programVersion="1.00.00.001"     
        [parameters]="parametersRpw"
        programEMS5="true"
        loading="true"
        [disabledParams]="disableParamRpw"
        (endExecution)="endExecutionScheduleRPW($event)">
    </app-totvs-schedule-execution>

</po-modal>

<po-modal #modalOrderGeneration
    p-size="sm"
    [p-title]="literals?.order">

    <div class="po-row">
       <po-lookup class="po-md-8"
            name="executionServer"
            p-label="Servidor RPW"
            p-placeholder="Servidor RPW"
            [p-columns]="zoomRpwServiceColumns"
            [p-field-format]="fieldRpwServiceFormat"
            [p-filter-service]="scheduleExecution"
            p-field-label="name"
            p-field-value="code"
            [(ngModel)]="executionServer">
        </po-lookup>    

        <po-button class="po-md-4 po-mt-4"
            p-label="Agendar"
            (p-click)="scheduling()">
        </po-button>    
    </div>

    <div class="po-row">
        <po-input class="po-md-6"
            p-label="jobScheduleID"
            p-readonly="false"
            [(ngModel)]="jobScheduleID">
        </po-input>

        <po-button class="po-md-3 po-mt-4"
            p-label="Buscar"
            (p-click)="getExecution('jobScheduleID')">
        </po-button>    

        <po-button class="po-md-3 po-mt-4"
            p-label="Acompanhar"
            (p-click)="followUp('jobScheduleID')">
        </po-button>
    </div>

    <div class="po-row">
        <po-input class="po-md-6"
            p-label="executionID"
            p-readonly="false"
            [(ngModel)]="executionID">
        </po-input>

        <po-button class="po-md-3 po-mt-4"
            p-label="Buscar"
            (p-click)="getExecution('executionID')">
        </po-button>    

        <po-button class="po-md-3 po-mt-4"
            p-label="Acompanhar"
            (p-click)="followUp('executionID')">
        </po-button>
    </div>

    <po-table class="po-md-12"
        p-selectable="false"
        p-striped="true"
        [p-loading]="orderLoading"
        [p-columns]="orderColumns"
        [p-items]="orderItems">
    </po-table>    

</po-modal>

<po-modal #modalUpload
    p-size="sm"
    [p-title]="literals?.upload"
    [p-primary-action]="confirmUpload"
    [p-secondary-action]="cancelUpload">

    <po-upload #uploadFiles
        [p-label]="literals?.upload"
        [(ngModel)]="fileToSend"
        p-multiple="true"
        p-hide-send-button="true"
        (p-upload)="onAddParamsToUpload($event)"
        [p-url]="apiUploadUrl">
    </po-upload>

</po-modal>    
