<po-page-default
    [p-title]="literals?.kendoxBasic">

    <div class="po-row po-md-10">
        <po-switch class="po-md-4" name="sortable" 
            p-label-off="d-sortable"
            p-label-on="d-sortable"
            p-disabled="true"
            [(ngModel)]="lSortable">
        </po-switch>

        <po-switch class="po-md-4" name="selectable" 
            p-label-off="d-selectable"
            p-label-on="d-selectable"
            [(ngModel)]="lSelectable">
        </po-switch>

        <po-switch class="po-md-4" name="singleSelect" 
            p-label-off="d-single-select"
            p-label-on="d-single-select"
            p-disabled="true"
            [(ngModel)]="lSingleSelect">
        </po-switch>

        <po-switch class="po-md-4" name="editable" 
            p-label-off="d-editable"
            p-label-on="d-editable"
            [(ngModel)]="lEditable">
        </po-switch>

        <po-switch class="po-md-4" name="groupable" 
            p-label-off="d-groupable"
            p-label-on="d-groupable"
            [(ngModel)]="lGroupable">
        </po-switch>  

        <po-switch class="po-md-4" name="filterable" 
            p-label-off="d-filterable"
            p-label-on="d-filterable"
            [(ngModel)]="lFilterable">
        </po-switch>  

        <po-switch class="po-md-4" name="reorderable" 
            p-label-off="d-reorderable"
            p-label-on="d-reorderable"
            [(ngModel)]="lReorderable">
        </po-switch>

        <po-switch class="po-md-4" name="resizable" 
            p-label-off="d-resizable"
            p-label-on="d-resizable"
            [(ngModel)]="lResizable">
        </po-switch>

        <po-switch class="po-md-4" name="showColumnManager" 
            p-label-off="d-show-column-manager"
            p-label-on="d-show-column-manager"
            [(ngModel)]="lShowColumnManager">
        </po-switch>

        <po-switch class="po-md-4" name="showAddButton" 
            p-label-off="d-show-add-button"
            p-label-on="d-show-add-button"
            [(ngModel)]="lShowAddButton">
        </po-switch>

        <po-switch class="po-md-4" name="showExportButtons" 
            p-label-off="d-show-export-buttons"
            p-label-on="d-show-export-buttons"
            [(ngModel)]="lShowExportButtons">
        </po-switch>
    </div>

    <div class="po-row po-md-2">
        <po-select class="po-md-12" name="showMaximize" 
            p-label="d-show-maximize"
            [p-options]="showMaximizeOptions"
            [(ngModel)]="showMaximize">
        </po-select>
        
        <po-dropdown class="po-md-12"
            p-label="Ações"
            [p-actions]="actionsOptions">
        </po-dropdown>
    </div>

    <dts-kendo-grid #kendoBasic class="po-md-12"
        [d-columns]="columns"
        [d-data]="items"
        [d-show-more-disabled]="!hasNext"
        [d-sortable]="lSortable"
        [d-filterable]="lFilterable"
        [d-groupable]="lGroupable"
        [d-reorderable]="lReorderable"
        [d-resizable]="lResizable"
        [d-selectable]="lSelectable"
        [d-single-select]="lSingleSelect"
        [d-editable]="lEditable"
        [d-literals]="literals"
        [d-actions]="tableActions"
        [d-edit-actions]="editActions"
        [d-show-maximize]="showMaximize"
        [d-show-column-manager]="lShowColumnManager"
        [d-show-add-button]="lShowAddButton"
        [d-show-export-buttons]="lShowExportButtons"
        (d-show-more)="search(true)"
        (d-group-change)="onGroupChange($event)"
        (d-selection-change)="onSelectionChange($event)"
        (d-maximize-change)="onMaximizeChange($event)"
        (d-save-column-manager)="onSaveColumnManager($event)"
        (d-save-value)="onSaveValue($event)">
    </dts-kendo-grid>

    <po-textarea class="po-md-12" name="actions"
        p-label="d-actions"
        [(ngModel)]="actionsText">
    </po-textarea>

    <po-textarea class="po-md-12" name="selectionChange"
        p-label="d-selection-change"
        [(ngModel)]="selectionChangeText">
    </po-textarea>

    <po-textarea class="po-md-12" name="addAction"
        p-label="addAction"
        [(ngModel)]="addActionText">
    </po-textarea>

    <po-textarea class="po-md-12" name="saveAction"
        p-label="saveAction"
        [(ngModel)]="saveActionText">
    </po-textarea>

    <po-textarea class="po-md-12" name="saveValue"
        p-label="d-save-value"
        [(ngModel)]="saveValueText">
    </po-textarea>

    <po-textarea class="po-md-12" name="groupChange"
        p-label="d-group-change"
        [(ngModel)]="groupChangeText">
    </po-textarea>
    
</po-page-default>