<po-page-dynamic-table #dynamicTable
    [p-service-api]="serviceApi"
    [p-title]="metadata?.title"
    [p-breadcrumb]="metadata?.breadcrumb"
    [p-fields]="metadata?.fields"
    [p-hide-columns-manager]="metadata?.hideColumnsManager"
    [p-hide-close-disclaimers]="metadata?.hideCloseDisclaimers"
    [p-keep-filters]="metadata?.keepfilters"
    p-actions-right="true"
    [p-actions]="metadata?.actions"
    [p-page-custom-actions]="metadata?.pageCustomActions"
    [p-table-custom-actions]="tableCustomActions">

</po-page-dynamic-table>
