<po-page-default
    [p-title]="literals?.kendoxKendo">

    <po-switch class="po-md-3" name="show" 
        p-label-off="show"
        p-label-on="show"
        [(ngModel)]="showKendo">
    </po-switch>

    <po-switch class="po-md-3" name="editable" 
        p-label-off="d-editable"
        p-label-on="d-editable"
        [(ngModel)]="lEditable">
    </po-switch>

    <po-button
        p-label="Zera"
        (p-click)="onZeraGrid()">
    </po-button>

    <po-button
        p-label="showData"
        (p-click)="onShowData()">
    </po-button>

   <dts-kendo-grid class="po-md-12"
        [d-selectable]="false"
        [d-filterable]="true"
        [d-sortable]="true"
        [d-show-column-manager]="false"
        [d-groupable]="true"
        [d-editable]="lEditable"
        [d-columns]="columnsKendo1"
        [d-data]="items"
        [d-actions]="tableActions"
        [d-show-more-disabled]="!hasNext"
        (d-show-more)="search(true)">
    </dts-kendo-grid>	
    
    <div class=" po-md-12" *ngIf="showKendo">    
        <dts-kendo-grid class="po-md-12"
            d-editable="true"
            [d-selectable]="false"
            [d-show-column-manager]="true"
            d-show-maximize="full"
            [d-columns]="columnsKendo2"
            [d-data]="items"
            (d-save-column-manager)="onSaveColumnManager($event)"
            [d-show-more-disabled]="!hasNext"
            (d-show-more)="search(true)">
        </dts-kendo-grid>
    </div>


</po-page-default>